
.heroSection {
    background: url('./Hero-Image.png');
    background-position: center, bottom left;
    background-size: cover, cover;
    height: 100vh;
    width: 100%;
}

.heroInner {
    display: flex;
    font-size: 1rem;
    align-items: center;
    padding: 0.5rem calc((100vw - 1000px) / 2);
    z-index: 10;
    
}

.logo {
    max-height: 3.5rem;
    width: 3.5rem;
}
.heroNav {
    margin-left: 2.5rem;
}

.middleSection {
    margin-top: 15rem;
    color: white;
    text-align: center;
}

.middleText {
    font-size: 2.2rem;
}

.boldText {
    font-size: 3.5rem;
}