.box-container {
    display: flex;
    flex-direction: row;
    padding: 5rem 0;
    justify-content: start;
}

.text-blurb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text-blurb-bold {
    font-weight: bold;
    font-size: 2.5rem;
}
.text-blurb-non {
    font-size: 1.5rem;
}
.box-container-text {
    width: 85%;
}
.join-information {
    width: 40vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
