body {
    margin: 0;
    font-family: "Ubuntu Sans", "Orbitron", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Orbitron", source-code-pro, Menlo, Monaco, Consolas,
        "Courier New", monospace;
}
